################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/.terraform/
terraform.tfvars
*.tfstate
*.tfstate.backup

# Lambda build artifacts
backend/lambda/dist/
backend/lambda/dist.zip
